<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Вход-GoodHost</title>
  <link rel="stylesheet" href="/static/css/login.css"/>
  <link rel="stylesheet" href="/static/css/chatbot.css"/>
</head>
<body>

  {% include 'partials/navbar.html' %}

  <main>
    <h1>Вход</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <p class="flash {{ category }}">{{ message }}</p>
      {% endfor %}
    {% endwith %}

    <form action="/login" method="POST">

      <label for="email">Имейл адрес</label><br/>
      <input type="email" id="email" name="email" required placeholder="ivan@example.com"/><br/><br/>

      <label for="password">Парола</label><br/>
      <input type="password" id="password" name="password" required placeholder="********"/><br/><br/>

      <button type="submit">Влез</button>

    </form>

    <p><a href="/forgot-password">Забравена парола?</a></p>
    <p>Нямаш профил? <a href="/registration">Регистрирай се</a></p>

  </main>

  {% include 'partials/footer.html' %}

  <script src="/static/js/nav.js"></script>

  {% include 'partials/chatbot.html' %}
</body>
</html>
