<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Регистрация-GoodHost</title>
  <link rel="stylesheet" href="/static/css/registration.css"/>
  <link rel="stylesheet" href="/static/css/chatbot.css"/>
</head>
<body>

  {% include 'partials/navbar.html' %}

  <main>
    <h1>Регистрирай се тук!</h1>
    
    <a href="/hostsregistration"><button>Домакин</button></a>
    <a href="/register/volunteer"><button>Доброволец</button></a>

    
  </main>


  {% include 'partials/footer.html' %}

  <script src="/static/js/nav.js"></script>

  {% include 'partials/chatbot.html' %}
</body>
</html>